<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title"> هتل ها</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
  
                  <div class="col-md-6">
                    <input type="file" formControlName="image" (change)="fileChangeEvent($event)">
                    <img src={{selectedImage}}>
                  </div>
  
                  <div class="col-md-6">
                    <div class="row">
  
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput formControlName="title" placeholder="عنوان" autocomplete="off"></textarea>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput formControlName="alias" placeholder="نام مستعار"
                            autocomplete="off"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    
                  
                    <div class="row">
                      <div class="col-md-6">
                          <section class="example-section">
                              <label class="lbl-mat">قابلیت بلاگ: </label>
                              <mat-slide-toggle class="example-margin" formControlName="blog" [checked]="checked"
                                [attr.disabled]="disabled">
                              </mat-slide-toggle>
                            </section>
                      </div>
  
                      <div class="col-md-6">
                        <section class="example-section">
                          <label class="lbl-mat">قابلیت انتشار: </label>
                          <mat-slide-toggle class="example-margin" formControlName="status" [checked]="checked"
                            [attr.disabled]="disabled">
                          </mat-slide-toggle>
                        </section>
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
  
  
  
                <div class="clearfix">
                  <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onSubmit()"
                    [disabled]="disableBtn">ارسال</button>
                  <button mat-raised-button type="submit" class="btn btn-default pull-right"
                    (click)="onCancel()">انصراف</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>